version: "3.9"

services:
  # ----------------------------
  # MongoDB
  # ----------------------------
  mongo:
    image: mongo:7.0
    container_name: local_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

  # ----------------------------
  # RabbitMQ
  # ----------------------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: local_rabbitmq
    ports:
      - "5672:5672"      # AMQP protocol
      - "15672:15672"    # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password

  # ----------------------------
  # MinIO (local S3)
  # ----------------------------
  minio:
    image: minio/minio:latest
    container_name: local_minio
    ports:
      - "9000:9000"      # S3 API
      - "9001:9001"      # MinIO Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  mongo_data:
  minio_data:
